<div class="row">
  <%= render 'layouts/sidemenu' %>

  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@user) do %>
              <%= attachment_image_tag @book_show.user, :profile_image, :fill, 40, 40, class: "attachment user profile_image", fallback: "no_image.jpg", size: '40x40' %><br>
              <%= @user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to "#{@book_show.title}", book_path(@book_show.id) %>
          </td>
          <td><%= @book_show.body %></td>
          <% if @user.id != current_user.id %>
            <td><%= render 'favorites/favorite', book: @book_show %></td>
            <td>コメント数 <%= @posts.where(book_id: @book_show.id).count %></td>
          <% end %>
          <% if @user.id == current_user.id %>
            <td>
              <%= link_to "Edit", edit_book_path(@book_show.id), class: "btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book_show.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn-sm btn-danger" %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to user_path(post.user_id) do %>
                <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, class: "attachment user profile_image", fallback: "no_image.jpg", size: '40x40' %>
              <% end %>
            </td>
            <td><%= post.comment %></td>
            <td>
              <%= link_to "Destroy", book_post_path(@book_show, post), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= form_for(@post, url: book_posts_path(@book_show)) do |f| %>
      <%= f.text_area :comment %>
      <%= f.hidden_field :book_id, value: @book_show.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>